html, body {
    font-family: 'Product Sans', sans-serif;
}

.waves {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: -140px;
    width: 100vw;
    height: 250px;
}

.returnback {
    color: #ffdd57;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #ffdd57;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffe589;
}

.loisir {
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    box-shadow: 0 6px 15px rgba(50, 50, 93, .1), 0 2px 7px rgba(0, 0, 0, .07);
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lang {
    font-weight: 900;
    font-size: 16px;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, .1);
}

.lang .icon {
    font-size: 13px;
}

.lang a:hover {
    color: #ffdd57 !important;
}

#legals a:hover {
    color: #ffdd57 !important;
}

.imagefit {
    justify-content: center;
}

.imageprofile {
    width: 75%;
    border-radius: 50%;
}

.imageprofile img {
    box-shadow: 0 6px 15px rgba(50, 50, 93, .3), 0 2px 7px rgba(0, 0, 0, .06);
}

.card {
    min-height: 310px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(50, 50, 93, .1), 0 2px 7px rgba(0, 0, 0, .07);
}

.vcard {
    min-height: 640px;
}

.timeline ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
}

.timeline ul::before {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: -1;
}

.timeline li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
}

.timeline .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: white;
    z-index: 1;
    margin-right: 1em;
}

.timeline .pink {
    border: 2px solid pink;
}

.timeline .green {
    border: 2px solid green;
}

.timeline .orange {
    border: 2px solid orange;
}

.timeline .yellow {
    border: 2px solid #ffdd57;
}

.timeline .date {
    width: 20%;
    font-size: 0.9em;
}

.timeline .desc {
    width: 50%;
    text-align: justify;
}

.timeline h3 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
}

.timeline h4 {
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
}

@media (min-width: 575px) {
    .imageprofile {
        width: 65%;
    }
}

@media (min-width: 769px) {
    .imagefit {
        justify-content: flex-end;
    }
}

@media (max-width: 1278px) {
    .timeline h3 {
        font-size: 0.9em;
    }

    .timeline h4 {
        font-size: 0.7em;
    }
}

.butubu {
    -webkit-animation: glowing 1800ms infinite;
    -moz-animation: glowing 1800ms infinite;
    -o-animation: glowing 1800ms infinite;
    animation: glowing 1800ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        -webkit-box-shadow: 0 0 0 #23d160;
    }
    20% {
        -webkit-box-shadow: 0 0 50px #23d160;
    }
    100% {
        -webkit-box-shadow: 0 0 0 #23d160;
    }
}

@-moz-keyframes glowing {
    0% {
        -moz-box-shadow: 0 0 0 #23d160;
    }
    20% {
        -moz-box-shadow: 0 0 50px #23d160;
    }
    100% {
        -moz-box-shadow: 0 0 0 #23d160;
    }
}

@-o-keyframes glowing {
    0% {
        box-shadow: 0 0 0 #23d160;
    }
    20% {
        box-shadow: 0 0 50px #23d160;
    }
    100% {
        box-shadow: 0 0 0 #23d160;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0 #23d160;
    }
    20% {
        box-shadow: 0 0 50px #23d160;
    }
    100% {
        box-shadow: 0 0 0 #23d160;
    }
}

.verydark {
    background-color: #030005 !important;
}

#notfound {
    position: relative;
    height: 100vh;
    background: #030005;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    color: #040500;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #ddff00, 1px 1px 0 #6aff00;
    letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 0 #ddff00;
    letter-spacing: 13px;
    margin: 0;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #ddff00;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px;
    }
}